body {
  background-color: lightblue;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-split {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}

.text {
  text-align: center;
  text-transform: capitalize;
  margin-top: 5%;
  font-size: 20px;
  margin-inline-start: 5%;
}

.container {
  margin-top: 10%;
  margin-right: 10%;
  text-align: center;
  min-width: 358px;
  box-shadow: 5px 5px 5px black;
}

.main {
  min-width: 101%;
  line-height: 40px;
  text-align: right;
  font-size: 25px;
  padding: 2% 0;
  background-color: rgb(138, 135, 135);
  color: white;
  border: none;
  outline: none;
}

::placeholder {
  color: white;
}

.buttons {
  display: flex;
}

.left {
  display: grid;
  grid-template-columns: repeat(3, minmax(5.6rem, 1fr));
  gap: 0;
}

.left * {
  height: 10vh;
  width: 100%;
  font-size: 20px;
  background-color: lightgray;
  border: 1px solid;
}

.Num0 {
  width: 200%;
}

.Dec {
  width: 100%;
  margin-left: 100%;
}

.operations {
  display: flex;
  flex-direction: column;
}

.operations * {
  height: 10vh;
  width: 368%;
  font-size: 20px;
  background-color: rgb(248, 118, 31);
  border: 1px solid;
}
